.itemCard {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    min-width: 16rem;
    padding: 1rem;
    font-family: 'Unbounded', sans-serif;
    border: 0.4rem solid #000;
    box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 1);
}

.itemName {
    font-size: 1.9rem;
    font-weight: 800;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.itemPrice {
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--secondary-color);
}

